<!-- {% extends "base.html" %}

{% block title %}Stock scan{% endblock %}

{% block content %}

<h1>Stonks Strategy</h1>
<h2>{{ strategy.name }}</h2>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %} -->
