<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Financial Technology</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Screener</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dataframe.html">Winners</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
    </nav>

    <h1>The future of finance!</h1>

    <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Unnamed: 0</th>
            <th>symbols</th>
            <th>price</th>
            <th>200_MA</th>
            <th>150_MA</th>
            <th>50_MA</th>
            <th>200_MA_1month_ago</th>
            <th>150_MA_1month_ago</th>
            <th>200_MA_2month_ago</th>
            <th>150_MA_2month_ago</th>
            <th>52_Week_Low</th>
            <th>52_Week_High</th>
            <th>Rel_Strength</th>
            <th>Above_30%_Low</th>
            <th>Within_25%_High</th>
            <th>RS_Rank</th>
            <th>Rule1</th>
            <th>Rule2</th>
            <th>Rule3</th>
            <th>Rule4</th>
            <th>Rule5</th>
            <th>Rule6</th>
            <th>Rule7</th>
            <th>Rule8</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>0</th>
            <td>16</td>
            <td>ALB</td>
            <td>159.58</td>
            <td>133.172150</td>
            <td>146.786600</td>
            <td>155.5378</td>
            <td>121.994350</td>
            <td>133.940400</td>
            <td>NaN</td>
            <td>121.876800</td>
            <td>67.97</td>
            <td>185.25</td>
            <td>166.821327</td>
            <td>88.361</td>
            <td>138.9375</td>
            <td>0.943925</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>1</th>
            <td>19</td>
            <td>ALGN</td>
            <td>591.75</td>
            <td>478.735175</td>
            <td>533.290600</td>
            <td>569.7484</td>
            <td>435.315425</td>
            <td>481.622133</td>
            <td>NaN</td>
            <td>434.330367</td>
            <td>235.96</td>
            <td>621.76</td>
            <td>172.860375</td>
            <td>306.748</td>
            <td>466.3200</td>
            <td>0.953271</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>2</th>
            <td>35</td>
            <td>AMP</td>
            <td>254.27</td>
            <td>198.612750</td>
            <td>212.362467</td>
            <td>244.2120</td>
            <td>183.851350</td>
            <td>193.661000</td>
            <td>NaN</td>
            <td>179.250667</td>
            <td>132.12</td>
            <td>265.65</td>
            <td>136.676662</td>
            <td>171.756</td>
            <td>199.2375</td>
            <td>0.816199</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>3</th>
            <td>49</td>
            <td>ADM</td>
            <td>66.98</td>
            <td>52.652650</td>
            <td>54.840667</td>
            <td>60.9886</td>
            <td>49.366950</td>
            <td>51.696733</td>
            <td>NaN</td>
            <td>48.989400</td>
            <td>35.12</td>
            <td>67.66</td>
            <td>134.794231</td>
            <td>45.656</td>
            <td>50.7450</td>
            <td>0.806854</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>4</th>
            <td>59</td>
            <td>AVY</td>
            <td>216.62</td>
            <td>158.792900</td>
            <td>171.339400</td>
            <td>199.6386</td>
            <td>145.118500</td>
            <td>154.767333</td>
            <td>NaN</td>
            <td>141.409933</td>
            <td>105.91</td>
            <td>221.58</td>
            <td>144.889488</td>
            <td>137.683</td>
            <td>166.1850</td>
            <td>0.875389</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>5</th>
            <td>83</td>
            <td>CZR</td>
            <td>100.21</td>
            <td>72.496775</td>
            <td>80.023467</td>
            <td>94.8266</td>
            <td>63.748525</td>
            <td>71.748733</td>
            <td>NaN</td>
            <td>61.311300</td>
            <td>29.74</td>
            <td>105.75</td>
            <td>212.731595</td>
            <td>38.662</td>
            <td>79.3125</td>
            <td>0.984424</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>6</th>
            <td>85</td>
            <td>COF</td>
            <td>159.05</td>
            <td>102.666700</td>
            <td>113.122067</td>
            <td>139.7650</td>
            <td>90.443950</td>
            <td>98.994000</td>
            <td>NaN</td>
            <td>86.555667</td>
            <td>58.35</td>
            <td>159.90</td>
            <td>188.082781</td>
            <td>75.855</td>
            <td>119.9250</td>
            <td>0.971963</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>7</th>
            <td>89</td>
            <td>CARR</td>
            <td>43.88</td>
            <td>37.100250</td>
            <td>39.353800</td>
            <td>42.7276</td>
            <td>34.419250</td>
            <td>36.840200</td>
            <td>NaN</td>
            <td>34.608533</td>
            <td>19.05</td>
            <td>45.41</td>
            <td>164.004450</td>
            <td>24.765</td>
            <td>34.0575</td>
            <td>0.934579</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>8</th>
            <td>91</td>
            <td>CAT</td>
            <td>237.24</td>
            <td>187.752050</td>
            <td>201.174333</td>
            <td>232.2072</td>
            <td>172.951600</td>
            <td>185.238667</td>
            <td>NaN</td>
            <td>168.008933</td>
            <td>112.47</td>
            <td>244.79</td>
            <td>150.187992</td>
            <td>146.211</td>
            <td>183.5925</td>
            <td>0.897196</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>9</th>
            <td>93</td>
            <td>CBRE</td>
            <td>87.18</td>
            <td>63.793350</td>
            <td>69.284800</td>
            <td>81.8218</td>
            <td>57.930000</td>
            <td>62.301600</td>
            <td>NaN</td>
            <td>55.708667</td>
            <td>40.30</td>
            <td>87.75</td>
            <td>154.026629</td>
            <td>52.390</td>
            <td>65.8125</td>
            <td>0.903427</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>10</th>
            <td>95</td>
            <td>CE</td>
            <td>164.15</td>
            <td>130.869050</td>
            <td>138.812600</td>
            <td>156.2572</td>
            <td>120.654050</td>
            <td>129.018533</td>
            <td>NaN</td>
            <td>119.456600</td>
            <td>82.78</td>
            <td>169.03</td>
            <td>136.728914</td>
            <td>107.614</td>
            <td>126.7725</td>
            <td>0.822430</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>11</th>
            <td>99</td>
            <td>CF</td>
            <td>52.33</td>
            <td>39.688150</td>
            <td>42.091000</td>
            <td>48.8386</td>
            <td>36.693100</td>
            <td>38.440267</td>
            <td>NaN</td>
            <td>35.660333</td>
            <td>25.71</td>
            <td>55.10</td>
            <td>135.046405</td>
            <td>33.423</td>
            <td>41.3250</td>
            <td>0.809969</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>12</th>
            <td>100</td>
            <td>CRL</td>
            <td>327.23</td>
            <td>261.296250</td>
            <td>274.570200</td>
            <td>312.3364</td>
            <td>241.373700</td>
            <td>254.734067</td>
            <td>NaN</td>
            <td>239.690533</td>
            <td>169.00</td>
            <td>345.21</td>
            <td>134.203044</td>
            <td>219.700</td>
            <td>258.9075</td>
            <td>0.803738</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>13</th>
            <td>101</td>
            <td>SCHW</td>
            <td>72.17</td>
            <td>52.239000</td>
            <td>57.736867</td>
            <td>67.8776</td>
            <td>47.131150</td>
            <td>51.356933</td>
            <td>NaN</td>
            <td>45.175733</td>
            <td>31.75</td>
            <td>73.25</td>
            <td>156.519991</td>
            <td>41.275</td>
            <td>54.9375</td>
            <td>0.919003</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>14</th>
            <td>108</td>
            <td>CINF</td>
            <td>120.28</td>
            <td>90.326675</td>
            <td>94.123633</td>
            <td>110.4302</td>
            <td>84.512075</td>
            <td>87.233900</td>
            <td>NaN</td>
            <td>82.264500</td>
            <td>57.32</td>
            <td>121.17</td>
            <td>149.407098</td>
            <td>74.516</td>
            <td>90.8775</td>
            <td>0.894081</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>15</th>
            <td>112</td>
            <td>CFG</td>
            <td>49.39</td>
            <td>36.185500</td>
            <td>39.507267</td>
            <td>46.0076</td>
            <td>32.915900</td>
            <td>35.549267</td>
            <td>NaN</td>
            <td>31.727067</td>
            <td>21.28</td>
            <td>50.74</td>
            <td>165.253777</td>
            <td>27.664</td>
            <td>38.0550</td>
            <td>0.937695</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>16</th>
            <td>205</td>
            <td>FCX</td>
            <td>40.87</td>
            <td>26.476100</td>
            <td>30.111667</td>
            <td>37.3392</td>
            <td>22.582550</td>
            <td>25.572200</td>
            <td>NaN</td>
            <td>21.562200</td>
            <td>8.74</td>
            <td>44.80</td>
            <td>332.948603</td>
            <td>11.362</td>
            <td>33.6000</td>
            <td>1.000000</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>17</th>
            <td>206</td>
            <td>GPS</td>
            <td>32.54</td>
            <td>23.483200</td>
            <td>25.655400</td>
            <td>32.4018</td>
            <td>20.396450</td>
            <td>22.549400</td>
            <td>NaN</td>
            <td>19.660400</td>
            <td>8.19</td>
            <td>36.33</td>
            <td>282.200893</td>
            <td>10.647</td>
            <td>27.2475</td>
            <td>0.993769</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>18</th>
            <td>208</td>
            <td>IT</td>
            <td>231.95</td>
            <td>161.586350</td>
            <td>172.511933</td>
            <td>200.2074</td>
            <td>148.785950</td>
            <td>156.357133</td>
            <td>NaN</td>
            <td>145.248933</td>
            <td>115.66</td>
            <td>234.00</td>
            <td>140.421665</td>
            <td>150.358</td>
            <td>175.5000</td>
            <td>0.850467</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>19</th>
            <td>218</td>
            <td>GS</td>
            <td>366.26</td>
            <td>268.140000</td>
            <td>289.722600</td>
            <td>344.0406</td>
            <td>246.723800</td>
            <td>260.674800</td>
            <td>NaN</td>
            <td>234.912333</td>
            <td>179.93</td>
            <td>370.89</td>
            <td>144.933875</td>
            <td>233.909</td>
            <td>278.1675</td>
            <td>0.878505</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>20</th>
            <td>220</td>
            <td>HAL</td>
            <td>22.46</td>
            <td>18.116100</td>
            <td>19.346533</td>
            <td>21.5150</td>
            <td>16.978900</td>
            <td>17.784867</td>
            <td>NaN</td>
            <td>16.476400</td>
            <td>11.17</td>
            <td>24.36</td>
            <td>137.978147</td>
            <td>14.521</td>
            <td>18.2700</td>
            <td>0.828660</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>21</th>
            <td>224</td>
            <td>HCA</td>
            <td>206.38</td>
            <td>162.126850</td>
            <td>172.424000</td>
            <td>196.3502</td>
            <td>148.665550</td>
            <td>158.330333</td>
            <td>NaN</td>
            <td>147.455933</td>
            <td>92.48</td>
            <td>211.89</td>
            <td>137.729790</td>
            <td>120.224</td>
            <td>158.9175</td>
            <td>0.825545</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>22</th>
            <td>237</td>
            <td>HWM</td>
            <td>33.76</td>
            <td>25.130500</td>
            <td>27.644533</td>
            <td>32.1438</td>
            <td>22.673400</td>
            <td>24.774600</td>
            <td>NaN</td>
            <td>21.904200</td>
            <td>12.37</td>
            <td>33.79</td>
            <td>194.319655</td>
            <td>16.081</td>
            <td>25.3425</td>
            <td>0.981308</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>23</th>
            <td>252</td>
            <td>IP</td>
            <td>63.53</td>
            <td>48.807350</td>
            <td>52.002333</td>
            <td>57.2650</td>
            <td>45.326450</td>
            <td>48.438667</td>
            <td>NaN</td>
            <td>44.924600</td>
            <td>32.64</td>
            <td>64.10</td>
            <td>138.583874</td>
            <td>42.432</td>
            <td>48.0750</td>
            <td>0.838006</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>24</th>
            <td>253</td>
            <td>IPG</td>
            <td>33.22</td>
            <td>23.848700</td>
            <td>25.847000</td>
            <td>30.5582</td>
            <td>21.838250</td>
            <td>23.132400</td>
            <td>NaN</td>
            <td>21.046467</td>
            <td>16.20</td>
            <td>33.47</td>
            <td>143.524622</td>
            <td>21.060</td>
            <td>25.1025</td>
            <td>0.866044</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>25</th>
            <td>257</td>
            <td>IVZ</td>
            <td>26.88</td>
            <td>18.672950</td>
            <td>21.175533</td>
            <td>26.2660</td>
            <td>16.273450</td>
            <td>18.196133</td>
            <td>NaN</td>
            <td>15.300600</td>
            <td>7.27</td>
            <td>28.38</td>
            <td>263.256344</td>
            <td>9.451</td>
            <td>21.2850</td>
            <td>0.990654</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>26</th>
            <td>266</td>
            <td>JCI</td>
            <td>64.50</td>
            <td>50.309550</td>
            <td>53.310533</td>
            <td>62.2054</td>
            <td>46.315300</td>
            <td>49.125000</td>
            <td>NaN</td>
            <td>45.077400</td>
            <td>29.41</td>
            <td>65.91</td>
            <td>155.517856</td>
            <td>38.233</td>
            <td>49.4325</td>
            <td>0.912773</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>27</th>
            <td>269</td>
            <td>KSU</td>
            <td>295.00</td>
            <td>213.962300</td>
            <td>223.981267</td>
            <td>273.6386</td>
            <td>194.035050</td>
            <td>203.000667</td>
            <td>NaN</td>
            <td>191.271733</td>
            <td>142.58</td>
            <td>313.45</td>
            <td>142.643079</td>
            <td>185.354</td>
            <td>235.0875</td>
            <td>0.859813</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>28</th>
            <td>271</td>
            <td>KEY</td>
            <td>23.12</td>
            <td>16.851150</td>
            <td>18.310933</td>
            <td>21.2040</td>
            <td>15.406050</td>
            <td>16.486267</td>
            <td>NaN</td>
            <td>14.884400</td>
            <td>10.71</td>
            <td>23.52</td>
            <td>153.273664</td>
            <td>13.923</td>
            <td>17.6400</td>
            <td>0.900312</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>29</th>
            <td>279</td>
            <td>LB</td>
            <td>64.79</td>
            <td>44.629400</td>
            <td>49.517533</td>
            <td>64.5340</td>
            <td>37.644500</td>
            <td>42.589267</td>
            <td>NaN</td>
            <td>36.058467</td>
            <td>13.86</td>
            <td>70.48</td>
            <td>305.907856</td>
            <td>18.018</td>
            <td>52.8600</td>
            <td>0.996885</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>30</th>
            <td>282</td>
            <td>LRCX</td>
            <td>614.10</td>
            <td>479.677475</td>
            <td>525.042467</td>
            <td>605.4600</td>
            <td>440.247175</td>
            <td>469.539633</td>
            <td>NaN</td>
            <td>427.209833</td>
            <td>260.70</td>
            <td>668.00</td>
            <td>167.436327</td>
            <td>338.910</td>
            <td>501.0000</td>
            <td>0.947040</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>31</th>
            <td>289</td>
            <td>LNC</td>
            <td>68.65</td>
            <td>49.139950</td>
            <td>53.847400</td>
            <td>64.5672</td>
            <td>44.810550</td>
            <td>47.541600</td>
            <td>NaN</td>
            <td>42.684400</td>
            <td>30.14</td>
            <td>70.45</td>
            <td>139.655000</td>
            <td>39.182</td>
            <td>52.8375</td>
            <td>0.844237</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>32</th>
            <td>291</td>
            <td>LYV</td>
            <td>89.26</td>
            <td>70.289950</td>
            <td>75.592933</td>
            <td>83.6650</td>
            <td>65.176200</td>
            <td>70.418800</td>
            <td>NaN</td>
            <td>63.265600</td>
            <td>42.62</td>
            <td>92.86</td>
            <td>136.704033</td>
            <td>55.406</td>
            <td>69.6450</td>
            <td>0.819315</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>33</th>
            <td>292</td>
            <td>LKQ</td>
            <td>50.50</td>
            <td>37.333400</td>
            <td>39.554167</td>
            <td>45.4740</td>
            <td>34.415625</td>
            <td>36.233433</td>
            <td>NaN</td>
            <td>33.838800</td>
            <td>24.77</td>
            <td>51.06</td>
            <td>141.923549</td>
            <td>32.201</td>
            <td>38.2950</td>
            <td>0.853583</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>34</th>
            <td>299</td>
            <td>MRO</td>
            <td>11.60</td>
            <td>7.667000</td>
            <td>8.600467</td>
            <td>11.1660</td>
            <td>6.861200</td>
            <td>7.266867</td>
            <td>NaN</td>
            <td>6.116600</td>
            <td>3.85</td>
            <td>12.98</td>
            <td>140.225400</td>
            <td>5.005</td>
            <td>9.7350</td>
            <td>0.847352</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>35</th>
            <td>304</td>
            <td>MLM</td>
            <td>362.54</td>
            <td>289.266400</td>
            <td>310.472800</td>
            <td>351.3974</td>
            <td>267.951950</td>
            <td>285.893600</td>
            <td>NaN</td>
            <td>261.238533</td>
            <td>178.63</td>
            <td>378.28</td>
            <td>143.653435</td>
            <td>232.219</td>
            <td>283.7100</td>
            <td>0.869159</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>36</th>
            <td>313</td>
            <td>MET</td>
            <td>64.71</td>
            <td>49.605050</td>
            <td>53.345000</td>
            <td>62.6942</td>
            <td>45.721850</td>
            <td>48.330733</td>
            <td>NaN</td>
            <td>43.931867</td>
            <td>33.34</td>
            <td>67.16</td>
            <td>138.194194</td>
            <td>43.342</td>
            <td>50.3700</td>
            <td>0.831776</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>37</th>
            <td>320</td>
            <td>MHK</td>
            <td>207.21</td>
            <td>145.319900</td>
            <td>161.704733</td>
            <td>203.0784</td>
            <td>127.158350</td>
            <td>140.153267</td>
            <td>NaN</td>
            <td>120.101467</td>
            <td>70.47</td>
            <td>229.74</td>
            <td>177.091440</td>
            <td>91.611</td>
            <td>172.3050</td>
            <td>0.959502</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>38</th>
            <td>326</td>
            <td>MS</td>
            <td>88.34</td>
            <td>66.462250</td>
            <td>71.843933</td>
            <td>82.1464</td>
            <td>61.590350</td>
            <td>65.268067</td>
            <td>NaN</td>
            <td>59.343467</td>
            <td>40.13</td>
            <td>88.34</td>
            <td>156.737252</td>
            <td>52.169</td>
            <td>66.2550</td>
            <td>0.922118</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>39</th>
            <td>327</td>
            <td>MOS</td>
            <td>35.46</td>
            <td>25.107500</td>
            <td>27.355200</td>
            <td>33.5484</td>
            <td>21.982700</td>
            <td>24.230133</td>
            <td>NaN</td>
            <td>21.270600</td>
            <td>11.55</td>
            <td>37.06</td>
            <td>218.406163</td>
            <td>15.015</td>
            <td>27.7950</td>
            <td>0.987539</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>40</th>
            <td>333</td>
            <td>NWL</td>
            <td>28.30</td>
            <td>22.053800</td>
            <td>23.726200</td>
            <td>27.1328</td>
            <td>20.401825</td>
            <td>21.734467</td>
            <td>NaN</td>
            <td>19.905067</td>
            <td>12.78</td>
            <td>29.34</td>
            <td>157.666553</td>
            <td>16.614</td>
            <td>22.0050</td>
            <td>0.925234</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>41</th>
            <td>335</td>
            <td>NWSA</td>
            <td>26.49</td>
            <td>19.676375</td>
            <td>21.326467</td>
            <td>26.4446</td>
            <td>17.626150</td>
            <td>19.000467</td>
            <td>NaN</td>
            <td>16.729900</td>
            <td>11.38</td>
            <td>27.64</td>
            <td>163.724424</td>
            <td>14.794</td>
            <td>20.7300</td>
            <td>0.931464</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>42</th>
            <td>336</td>
            <td>NWS</td>
            <td>25.25</td>
            <td>19.091000</td>
            <td>20.556133</td>
            <td>24.6133</td>
            <td>17.311000</td>
            <td>18.572867</td>
            <td>NaN</td>
            <td>16.613567</td>
            <td>11.44</td>
            <td>25.69</td>
            <td>154.584398</td>
            <td>14.872</td>
            <td>19.2675</td>
            <td>0.906542</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>43</th>
            <td>338</td>
            <td>NLSN</td>
            <td>27.15</td>
            <td>20.040950</td>
            <td>21.760333</td>
            <td>26.0554</td>
            <td>18.362900</td>
            <td>19.447467</td>
            <td>NaN</td>
            <td>17.415333</td>
            <td>13.42</td>
            <td>28.10</td>
            <td>142.244135</td>
            <td>17.446</td>
            <td>21.0750</td>
            <td>0.856698</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>44</th>
            <td>348</td>
            <td>NUE</td>
            <td>102.13</td>
            <td>59.749150</td>
            <td>64.196333</td>
            <td>83.4752</td>
            <td>52.811600</td>
            <td>55.962067</td>
            <td>NaN</td>
            <td>50.574733</td>
            <td>38.80</td>
            <td>106.32</td>
            <td>184.187511</td>
            <td>50.440</td>
            <td>79.7400</td>
            <td>0.968847</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>45</th>
            <td>351</td>
            <td>NXPI</td>
            <td>199.84</td>
            <td>162.833200</td>
            <td>174.915267</td>
            <td>198.1364</td>
            <td>151.514400</td>
            <td>161.836467</td>
            <td>NaN</td>
            <td>147.382133</td>
            <td>96.10</td>
            <td>214.70</td>
            <td>144.703946</td>
            <td>124.930</td>
            <td>161.0250</td>
            <td>0.872274</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>46</th>
            <td>384</td>
            <td>PRU</td>
            <td>106.90</td>
            <td>80.459950</td>
            <td>84.849267</td>
            <td>97.8796</td>
            <td>74.736750</td>
            <td>77.944400</td>
            <td>NaN</td>
            <td>73.087200</td>
            <td>56.28</td>
            <td>107.96</td>
            <td>135.240762</td>
            <td>73.164</td>
            <td>80.9700</td>
            <td>0.813084</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>47</th>
            <td>389</td>
            <td>PVH</td>
            <td>109.25</td>
            <td>85.901450</td>
            <td>94.432200</td>
            <td>107.9972</td>
            <td>76.761400</td>
            <td>85.457600</td>
            <td>NaN</td>
            <td>75.324933</td>
            <td>42.51</td>
            <td>118.67</td>
            <td>176.187353</td>
            <td>55.263</td>
            <td>89.0025</td>
            <td>0.956386</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>48</th>
            <td>395</td>
            <td>RJF</td>
            <td>133.50</td>
            <td>99.550350</td>
            <td>107.793600</td>
            <td>127.7782</td>
            <td>90.630100</td>
            <td>96.763400</td>
            <td>NaN</td>
            <td>87.318733</td>
            <td>64.78</td>
            <td>136.64</td>
            <td>145.764262</td>
            <td>84.214</td>
            <td>102.4800</td>
            <td>0.881620</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
          <tr>
            <th>49</th>
            <td>400</td>
            <td>RF</td>
            <td>22.76</td>
            <td>16.738100</td>
            <td>18.412067</td>
            <td>21.4664</td>
            <td>15.119650</td>
            <td>16.482933</td>
            <td>NaN</td>
            <td>14.543533</td>
            <td>9.83</td>
            <td>23.40</td>
            <td>162.867027</td>
            <td>12.779</td>
            <td>17.5500</td>
            <td>0.928349</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
            <td>True</td>
          </tr>
        </tbody>
      </table>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>