{% extends "base.html" %}

{% block title %}Products{% endblock %}


{% block content %}

<section class='first' style="background-image: url('../static/images/market1.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 85%;
    height: 600px;
    width: 100%;">

    <div class="info-body">
        <h5 class="info-title">Advanced Trading Strategy</h5>
        <br/>
        <p class="info-text">Get our buy/sell alerts daily!</p>
        <p class="info-text">Gain financial freedom, and a priceless education!</p>
        <p class="info-text">Get support from our staff and learn how to trade like a pro!</p>
        <br/>
        <a href="/signup" class="btn btn-primary">Get Started!</a>
    </div>

</section>

{% endblock %}


{% block one %}
{% endblock %}