{% extends "base.html" %}

{% block title %}Fintech Home{% endblock %}

{% block content %}

    <img class="bg-image" src="{{ url_for('static', filename='images/market1.jpg') }}" alt="market charts"/>

{% endblock %}

<!-- work on fixing this section for deleting notes on the site tmrw -->

<!-- <h3 align='center'>Comments</h3>
<ul class='list-group list-group-flush' id='comments'>
    {% for note in users.notes %}
    <li class='list-group-item'>{{note.data}}
        <button type='button' class='close' onClick='deleteNote({{ note.id }})'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<form method='POST'>
    <textarea name='note', id='note', class='form-control'></textarea>
    <br/>
    <div align='center'>
        <button type='submit' class='btn btn-primary'>Add comments</button>
    </div>
</form> -->