{% extends "base.html" %}

{% block title %}Fintech Home{% endblock %}

{% block content %}

<section class='first' style="background-image: url('../static/images/market1.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 85%;
    height: 600px;
    width: 100%;">

    <div class="info-body">
        <h5 class="info-title">Stock and Options Trading</h5>
        <p class="info-text">Learn how to trade like the pros!</p>
        <a href="/signup" class="btn btn-primary">Get Started!</a>
    </div>

</section>
{% endblock %}

{% block one %}
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistical Modeling</h5>
          <p class="card-text">We use mathematical models to apply statistical analysis to real world market data.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Predictive Analytics</h5>
          <p class="card-text">We develop our very own machine learning algorithms to analyze current and historical market data to identify the likelihood of future outcomes.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Algorithmic Trading</h5>
          <p class="card-text">Algo trading is the process for executing orders utilizing automated and pre-programmed trading instructions to account for variable such as price, timing, and volume.</p>
          <a href="#" class="btn btn-primary card-btn">Learn More</a>
        </div>
      </div>
    </div>
</div>
<br/>
<br/>
<br/>
{% endblock %}

