{% extends "base.html" %}

{% block title %}Pattern Scanner{% endblock %}

{% block content %}

<br/>
<br/>
<h1>Candlestick Pattern Recognition</h1>
<form>
  <select name="pattern">
    {% for pattern in patterns %}
    <option value="{{ pattern }}" {% if pattern == current_pattern %} selected="selected"{% endif %}>{{ patterns[pattern] }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Scan Now!"/>
</form>


<table>
  <tr>
    <th>Symbol</th>
    <th>Company</th>
    <th>Sentiment</th>
  </tr>
  {% for stock in stocks %}
    {% if stocks[stock][current_pattern] %}
  <tr>
    <td>{{ stock }}</td>
    <td>{{ stocks[stock]['Company'] }}</td>
    <td class="{{ stocks[stock][current_pattern] }}">{{ stocks[stock][current_pattern] }}</td>
  </tr>
  <tr>
    <td colspan="3">
      <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l"/>
    </td>
  </tr>
    {% endif %}
  {% endfor %}
</table>









{% endblock %}



{% block one %}




{% endblock %}



{% block two %}
{% endblock %}



