
.info-body {
    position: relative;
    top: 50%;
    left: auto;
    text-align: center;
    color: white;

}

.signup-form {
    background-color: lightblue;
    position: relative;
    width: 50%;
    left: 25%;
    font-weight: bold;
}

.login-form {
    background-color: lightblue;
    position: relative;
    width: 50%;
    left: 25%;
    font-weight: bold;
}


.nav-item {
    list-style: none;
    color: dodgerblue;
}

.navbar {
    background-color: #313131;
    font-size: 20px;
    font-weight: bold;
}

.card {
    background-color: darkgrey;
    position: relative;
    text-align: center;
    height: 250px;
    font-size: 18px;
    font-weight: bold;
    border-color: grey;
    border-width: 3px;
}


.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-btn {
    position: relative;
}

.Bullish {
    background-color: green;
    color: white
}

.Bearish {
    background-color: red;
    color: white
}

td {
    padding: 10px;
    border-color: black;
    border-width: 2px;
}

.table-responsive {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    background-color: rgb(18, 96, 160);
}



/* .nav-item {
    display: flex;
    justify-content: space-around;
} */

/* .navbar {
    display: flex;
    justify-content: space-evenly;
} */